{% extends 'comunes/base.html' %}
{% block principal %}
    <h1 style="color:red">Listado de Categorias</h1>
    <a href="/categorias/nuevo"><img src="{{url_for('static',filename='imagenes/add.gif')}}">Nuevo Categoria</a>
    <table>
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Estatus</th>
            <th>Imagen</th>
            <th>Editar</th>
        </thead>
        {% for cat in categorias %}
            <tr>
                   <td>{{cat.idCategoria}}</td>
                    <td>{{cat.nombre}}</td>
                    <td>{{cat.estatus}}</td>
                    <td><img src="/categorias/imagen/{{cat.idCategoria}}" width="100px"></td>
                    <td><a href="/categorias/ver/{{cat.idCategoria}}"> <span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="/">Home</a>
{% endblock %}