{% extends 'comunes/base.html' %}
{% block navbar %}
     {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<div class="row">
<div class="col-md-offset-6">
    <h1>Editando el perfil de {{current_user.nombreCompleto}}</h1>
</div>
</div>
    <div class="well">
    <form action="/usuarios/guardarPerfil" method="post">
         <div class="form-group">
            <label for="nombre">ID:</label>
            <input type="number" class="form-control" name="id" value="{{current_user.idUsuario}}" required placeholder="Nombre del Usuario" class="form-control" readonly>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" value="{{current_user.nombreCompleto}}" required placeholder="Nombre del Usuario" class="form-control">
        </div>
        <div class="form-group">

            <label for="domicilio">Domicilio:</label>
            <input type="text" class="form-control" name="domicilio" value="{{current_user.domicilio}}" required placeholder="Domicilio" class="form-control">

        </div>
        <div class="form-group">

            <label for="telefono">Telefono:</label>

            <input type="tel" name="telefono" class="form-control" value="{{current_user.telefono}}" required placeholder="Telefono" class="form-control">

        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control"  value="{{current_user.email}}" required placeholder="Correo electrónico" class="form-control" readonly>

        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" name="password" required placeholder="Password" value="{{current_user.password}}" class="form-control">
        </div>
        <div class="form-group">
            <label>Sexo:</label>
            {% if current_user.sexo=='F' %}
                <input type="radio" name="sexo" checked value="F">Femenino
                <input type="radio" name="sexo" value="M">Masculino
            {% else %}
                <input type="radio" name="sexo"  value="F">Femenino
                <input type="radio" name="sexo" value="M" checked>Masculino
            {% endif %}
        </div>
        <div class="form-group">
            <div class="col-md-1">
                <label for="tipo">Tipo:</label>
            </div>
            {% if current_user.is_authenticated and current_user.is_admin() %}
                <input type="radio" name="tipo" checked value="Administrador">Administrador
                <input type="radio" name="tipo" value="Comprador">Comprador
                <input type="radio" name="tipo" value="Vendedor">Vendedor
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_vendedor() %}
                <input type="radio" name="tipo" value="Comprador">Comprador
                <input type="radio" name="tipo" checked value="Vendedor">Vendedor
            {% endif %}
            {% if current_user.is_authenticated and current_user.is_comprador() %}
                <input type="radio" name="tipo" value="Comprador" checked>Comprador
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Registrar">
            <a href="/usuarios/ingresar" class="btn btn-info">Regresar</a>
        </div>
    </form>
        {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
        {% endif %}
</div>
{% endblock %}