{% extends 'comunes/base.html' %}
{% block navbar %}
     {% include 'comunes/menu.html' %}
{% endblock %}
{% block scripts %}
    {{super()}}
    <script src="{{url_for('static',filename='js/usuarios.js')}}"></script>
{% endblock %}
{% block principal %}
    <div class="well">
        <div class="text text-center">
            <h1 class="bg bg-warning">Registro de Usuarios</h1>
        </div>
    <form action="/usuarios/registrar" method="post" onsubmit="return validar(this)">

        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" name="nombre" required placeholder="Nombre del Usuario" class="form-control">
        </div>
        <div class="form-group">

            <label for="domicilio">Domicilio:</label>
            <input type="text" class="form-control" name="domicilio" required placeholder="Domicilio" class="form-control">

        </div>
        <label>Genero:</label>
        <label class="radio-inline">
            <input type="radio" name="genero" value="F" checked>Femenino
        </label>
        <label class="radio-inline">
            <input type="radio" name="genero" value="M">Masculino
        </label>
        <div class="form-group">

            <label for="telefono">Telefono:</label>

            <input type="tel" name="telefono" class="form-control" required placeholder="Telefono" class="form-control">

        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required placeholder="Correo electrónico" class="form-control" onblur="consultarEmail()">

        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" name="password" required placeholder="Password" class="form-control" id="password">

        </div>
        <input type="checkbox" id="ver" onclick="verPassword()">Ver password
        <div class="form-group">
            <div class="col-md-1">
                <label for="tipo">Tipo:</label>
            </div>
            {% if current_user.is_authenticated and current_user.is_admin() %}
                <input type="radio" name="tipo" value="Administrador">Administrador
                <input type="radio" name="tipo" value="Comprador" checked>Comprador
                <input type="radio" name="tipo" value="Vendedor">Vendedor
            {% else %}
                <input type="radio" name="tipo" value="Comprador" checked>Comprador
            {% endif %}
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Registrar" disabled id="registrar">
            <a href="/usuarios/ingresar" class="btn btn-info">Regresar</a>
        </div>
    </form>
        <div id="notificaciones" style="background-color:brown;color:white">

        </div>
        {% if get_flashed_messages()%}
        {% for m in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{m}}</strong>
        </div>
        {% endfor %}
        {% endif %}
</div>
{% endblock %}