{% extends 'comunes/base.html' %}
{% block navbar %}
  {% include 'comunes/menu.html' %}
{% endblock %}
{% block principal %}
<div class="well">
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Pagina Web</th>
            <th>Telefono</th>
        </thead>
        {% for p in paqueterias %}
            <tr>
                <td>{{p.idPaqueteria}}</td>
                <td>{{p.nombre}}</td>
                <td>{{p.paginaWeb}}</td>
                <td>{{p.telefono}}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}